In [1]:
## import libraries

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
## Load the data

data = pd.read_csv('Churn_Modelling.csv')
print(data.shape)
data.head()

(10000, 14)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.shape

(10000, 11)

In [5]:
# Label Encoder for Gender
 
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0

In [6]:
# One hot encode Geography column

one_hot_encoder_geo = OneHotEncoder()
geo_encoder = one_hot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [7]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns = one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.shape

(10000, 3)

In [8]:
## Combine the one hot encoded columns with the original data

data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
## Divide the data into X and y

X= data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

# Split the data in training and testing sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
## save pre-processings encoders 

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('one_hot_encoder_geo.pkl','wb') as file:
    pickle.dump(one_hot_encoder_geo,file)

In [12]:
#Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
##save scaler 
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [14]:
print(X_train.shape)
print(X_test.shape)

(8000, 12)
(2000, 12)

## ANN Regression Implementation

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

import datetime

In [16]:
## Build the model

model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)     # Output layer for regression --> Here default activation function is linear
])


## Compile the model

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\Dell\python\NLP\ANN-regression\annreg\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Dell\python\NLP\ANN-regression\annreg\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
## Setup the tensorboard

from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [19]:
## Setup the Early stopping

early_stopping_callbacks = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [20]:
## Train the model

history = model.fit( 
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs =100,
    callbacks = [tensorflow_callback,early_stopping_callbacks])

Epoch 1/100
WARNING:tensorflow:From c:\Users\Dell\python\NLP\ANN-regression\annreg\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Dell\python\NLP\ANN-regression\annreg\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 8ms/step - loss: 100373.3906 - mae: 100373.3906 - val_loss: 98504.1328 - val_mae: 98504.1328
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 99574.3750 - mae: 99574.3750 - val_loss: 96895.1797 - val_mae: 96895.1797
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 96747.6406 - mae: 96747.6406 - val_loss: 92764.5391 - val_mae: 92764.5391
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 91214.5938 - mae: 91214.5938 - val_loss: 85918.2891 - val_mae: 85918.2891
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 83159.0781 - mae: 83159.0781 - val_loss: 77132.8125 - val_mae: 77132.8125
Epoch 6/100
250/250 [==============================] - 2s 8ms/step - loss: 73851.5781 - mae: 73851.5781 - val_loss: 68168.0547 - val_mae: 68168.0547
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 65008.1289 - mae: 65008.1289 - val_loss: 60546.6797 - val_mae: 60546.6797
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 58118.2852 - mae: 58118.2852 - val_loss: 55289.3398 - val_mae: 55289.3398
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 53830.1992 - mae: 53830.1992 - val_loss: 52424.7734 - val_mae: 52424.7734
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 51689.4844 - mae: 51689.4844 - val_loss: 51213.1758 - val_mae: 51213.1758
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 50783.8906 - mae: 50783.8906 - val_loss: 50826.6289 - val_mae: 50826.6289
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 50425.0898 - mae: 50425.0898 - val_loss: 50696.0039 - val_mae: 50696.0039
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 50269.1484 - mae: 50269.1484 - val_loss: 50629.0312 - val_mae: 50629.0312
Epoch 14/100
250/250 [==============================] - 1s 6ms/step - loss: 50181.1484 - mae: 50181.1484 - val_loss: 50584.6875 - val_mae: 50584.6875
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50115.0781 - mae: 50115.0781 - val_loss: 50544.2266 - val_mae: 50544.2266
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 50057.9492 - mae: 50057.9492 - val_loss: 50514.8828 - val_mae: 50514.8828
Epoch 17/100
250/250 [==============================] - 1s 6ms/step - loss: 50010.0977 - mae: 50010.0977 - val_loss: 50487.2617 - val_mae: 50487.2617
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 49967.5391 - mae: 49967.5391 - val_loss: 50465.9609 - val_mae: 50465.9609
Epoch 19/100
250/250 [==============================] - 1s 6ms/step - loss: 49930.1797 - mae: 49930.1797 - val_loss: 50438.6758 - val_mae: 50438.6758
Epoch 20/100
250/250 [==============================] - 1s 6ms/step - loss: 49893.6484 - mae: 49893.6484 - val_loss: 50412.2031 - val_mae: 50412.2031
Epoch 21/100
250/250 [==============================] - 2s 6ms/step - loss: 49861.4453 - mae: 49861.4453 - val_loss: 50396.7344 - val_mae: 50396.7344
Epoch 22/100
250/250 [==============================] - 1s 6ms/step - loss: 49834.2734 - mae: 49834.2734 - val_loss: 50384.7305 - val_mae: 50384.7305
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49802.0508 - mae: 49802.0508 - val_loss: 50365.2930 - val_mae: 50365.2930
Epoch 24/100
250/250 [==============================] - 1s 6ms/step - loss: 49781.0352 - mae: 49781.0352 - val_loss: 50352.5039 - val_mae: 50352.5039
Epoch 25/100
250/250 [==============================] - 1s 6ms/step - loss: 49760.1602 - mae: 49760.1602 - val_loss: 50342.3945 - val_mae: 50342.3945
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 49741.4023 - mae: 49741.4023 - val_loss: 50340.9922 - val_mae: 50340.9922
Epoch 27/100
250/250 [==============================] - 1s 6ms/step - loss: 49714.5273 - mae: 49714.5273 - val_loss: 50340.8398 - val_mae: 50340.8398
Epoch 28/100
250/250 [==============================] - 2s 7ms/step - loss: 49695.5898 - mae: 49695.5898 - val_loss: 50329.7930 - val_mae: 50329.7930
Epoch 29/100
250/250 [==============================] - 2s 7ms/step - loss: 49680.1992 - mae: 49680.1992 - val_loss: 50311.0742 - val_mae: 50311.0742
Epoch 30/100
250/250 [==============================] - 2s 9ms/step - loss: 49664.0625 - mae: 49664.0625 - val_loss: 50313.2031 - val_mae: 50313.2031
Epoch 31/100
250/250 [==============================] - 2s 10ms/step - loss: 49643.2695 - mae: 49643.2695 - val_loss: 50312.6406 - val_mae: 50312.6406
Epoch 32/100
250/250 [==============================] - 2s 8ms/step - loss: 49630.0195 - mae: 49630.0195 - val_loss: 50303.0078 - val_mae: 50303.0078
Epoch 33/100
250/250 [==============================] - 2s 9ms/step - loss: 49612.6172 - mae: 49612.6172 - val_loss: 50294.8945 - val_mae: 50294.8945
Epoch 34/100
250/250 [==============================] - 3s 11ms/step - loss: 49597.9492 - mae: 49597.9492 - val_loss: 50294.0625 - val_mae: 50294.0625
Epoch 35/100
250/250 [==============================] - 2s 7ms/step - loss: 49584.1250 - mae: 49584.1250 - val_loss: 50291.8047 - val_mae: 50291.8047
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 49573.6055 - mae: 49573.6055 - val_loss: 50291.6367 - val_mae: 50291.6367
Epoch 37/100
250/250 [==============================] - 2s 7ms/step - loss: 49563.3281 - mae: 49563.3281 - val_loss: 50282.8750 - val_mae: 50282.8750
Epoch 38/100
250/250 [==============================] - 2s 7ms/step - loss: 49548.7969 - mae: 49548.7969 - val_loss: 50298.3984 - val_mae: 50298.3984
Epoch 39/100
250/250 [==============================] - 1s 6ms/step - loss: 49536.1680 - mae: 49536.1680 - val_loss: 50294.8320 - val_mae: 50294.8320
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 49527.3594 - mae: 49527.3594 - val_loss: 50278.4805 - val_mae: 50278.4805
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 49519.8906 - mae: 49519.8906 - val_loss: 50272.9883 - val_mae: 50272.9883
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49510.4922 - mae: 49510.4922 - val_loss: 50290.4531 - val_mae: 50290.4531
Epoch 43/100
250/250 [==============================] - 1s 6ms/step - loss: 49502.1562 - mae: 49502.1562 - val_loss: 50278.9609 - val_mae: 50278.9609
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49492.6250 - mae: 49492.6250 - val_loss: 50284.3047 - val_mae: 50284.3047
Epoch 45/100
250/250 [==============================] - 1s 6ms/step - loss: 49486.5547 - mae: 49486.5547 - val_loss: 50283.7070 - val_mae: 50283.7070
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 49477.5430 - mae: 49477.5430 - val_loss: 50273.1680 - val_mae: 50273.1680
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 49469.0703 - mae: 49469.0703 - val_loss: 50282.1523 - val_mae: 50282.1523
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49460.8789 - mae: 49460.8789 - val_loss: 50282.5156 - val_mae: 50282.5156
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49452.0078 - mae: 49452.0078 - val_loss: 50274.5430 - val_mae: 50274.5430
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 49451.8203 - mae: 49451.8203 - val_loss: 50281.4570 - val_mae: 50281.4570
Epoch 51/100
250/250 [==============================] - 1s 6ms/step - loss: 49441.0586 - mae: 49441.0586 - val_loss: 50286.8711 - val_mae: 50286.8711

In [24]:
# Save the model

model.save('regression_model.h5')

c:\Users\Dell\python\NLP\ANN-regression\annreg\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [ ]:
%load_ext tensorboard

In [ ]:
%tensorboard --logdir logs/fit/20250102-201512/

In [23]:
## Evaluate the model on test data

test_loss,test_mae = model.evaluate(X_test,y_test)
print(f"Test loss is: {test_loss} and Test MAE is: {test_mae}.")

63/63 [==============================] - 0s 3ms/step - loss: 50272.9883 - mae: 50272.9883
Test loss is: 50272.98828125 and Test MAE is: 50272.98828125.

# End!